@{
    ViewData["Title"] = "Home Page";
}

<h1>Babysitting Income Calculator</h1>
<form id="form">
    <div class="form-group">
        <label for="startTime">Start Time</label>
        <input type="time" class="form-control" id="startTime" aria-describedby="startTimeHelp" placeholder="Enter Start Time">
        <small id="startTimeHelp" class="form-text text-muted">Enter the time you began babysitting</small>
    </div>
    <div class="form-group" id="bedTimeGroup">
        <label for="bedTime">Bed Time</label>
        <input type="time" class="form-control" id="bedTime" aria-describedby="bedTimeHelp" placeholder="Enter Bed Time">
        <small id="bedTimeHelp" class="form-text text-muted">Enter the time the children went to bed</small>
    </div>
    <div class="form-group">
        <label for="endTime">End Time</label>
        <input type="time" class="form-control" id="endTime" aria-describedby="endTimeHelp" placeholder="Enter End Time">
        <small id="endTimeHelp" class="form-text text-muted">Enter the time you completed your babysitting job</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>